.job-card-primary { 
    width: 80%;
    height: 80%;
    background: #e4f5f0;
    border-radius: 20px;
    border: 2px solid #9e80f9;
    padding: 1rem 1.2rem; 
    font-family: 'Segoe UI', sans-serif;  
    margin: 1rem;
    color: black;
    position: relative;
    transition: transform 0.2s ease; 
  }  
 .job-card-primary::before {
  content: '';
  height: 100%;
  width: 100%;
  left: 8px;
  top: 8px;
  background-color: #a06ff0;
  z-index: -3;
  position: absolute;
  border-radius: 20px;
  border: 2px solid var(--color-primary);
  
}  

  .job-card-secondary {
    width: 80%;
    height: 80%;
    background: #e4f5f0;
    border-radius: 20px;
    border: 2px solid var(--color-secondary);
    padding: 1rem 1.2rem; 
    font-family: 'Segoe UI', sans-serif;  
    margin: 1rem;
    color: black;
    position: relative;
    transition: transform 0.2s ease;
  } 
  .job-card-secondary::before {
    content: '';
    height: 100%;
    width: 100%;
    left: 8px;
    top: 8px;
    background-color: var(--color-secondary);
    z-index: -3;
    position: absolute;
    border-radius: 20px;
    border: 2px solid var(--color-secondary);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .card-header h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .status-tag {
    background: #9e80f9;
    color: white;
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    font-size: 0.9rem;
    text-transform: capitalize;
  }
  
  .company-name {
    margin: 0.2rem 0;
    font-style: italic;
  }
  
  .job-card a {
    display: block;
    margin: 0.3rem 0;
    color: black;
    text-decoration: underline;
    word-break: break-all; 
  }
  
  .card-bottom{
    display: flex;
    flex-direction: column;
  }
  .date-primary {
    color: var(--color-primary-accent);
    font-size: small;
    font-weight: bold; 
    text-align: right;
    padding-top: 0.5rem;
  }

  .date-secondary {
    color: var(--color-secondary);
    font-size: small;
    font-weight: bold;
    text-align: right;
    padding-top: 1rem;
  }
  