.updating {
    background-color: var(--color-background);
    color: var(--color-secondary);
}

.center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
} 

.message {
    font-size: 4em;
    font-family: var(--font-family-shrikhand); 
    color: var(--color-primary);
    margin-bottom: 5rem;
}