@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ribeye&family=Shrikhand&display=swap');
@font-face {
  font-family: 'Soulare';
  src: url('./assets/fonts/Bavista_Soulare.ttf') format('truetype'); 
}

:root {
  --color-background: #e4f5f0;
  --color-primary: #9565e3;
  --color-primary-accent: #713dc7;
  --color-secondary: #ff6b6b;
  --color-secondary-accent: #fb5757;
  --color-white: #fff3f3;
  --color-black: #000000;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-shrikhand: "Shrikhand", serif;
  --font-family-soulare: "Soulare", serif;
  --font-famity-ribeye: "Ribeye", serif;
  --font-famity-dm-serif: "DM Serif Text", serif;
  --gradient-main: linear-gradient(135deg, #cdffd8, #94b9ff);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background); 
  margin: 6rem 8rem;  
  padding: 0; 
  box-sizing: border-box; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
